body {
  background-color: blue;
  color: orange;
}

div {
  width: 100px;
  /* height: 50px; */

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;

  /* em relative to parent */
  /* rem relative to html root */
  line-height: 3rem;

  overflow: scroll;

  /* text-overflow: ellipsis; */
  /* word-wrap: break-word; */
}
