* {
  margin: 0;
}

body {
  height: 200vh;
}

#image {
  background-color: blue;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/sparky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
